.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 15% 1fr 25%;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.header {
    background-color: aqua;
    grid-column: 1/4;
}


.main {
    grid-column: 1/4;
}

.content {
    background-color: aquamarine;
    grid-column: 1/3;
}

.aside {
    background-color: beige;
    grid-column: 3/4;
}

.footer {
    background-color: bisque;
    grid-column: 1/4;
}

.content p {
    background-color: bisque;
}

.footer p {
    background-color: rgb(212, 212, 212);
}

body {
    text-align: center;
}